{% extends 'layout.html.twig' %}

{% set active = 'cliente' %}

{% block content %}
    <h1>{{ 'cliente'|trans }}</h1>
      <a href="{{url('cliente_add')}}">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span> Adicionar Novo
        </button>
      </a>
    <div class="panel panel-default" style="margin-top:16px">
    
      <div class="panel-heading">Abaixo a lista de cliente cadastrados</div>
        <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Fone</th>
            <th>Endereço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for cliente in dados %}
          <tr>
            <th scope="row">{{cliente.id_cliente}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.fone}}</td>
            <td>{{cliente.endereco}}</td>
            <td>
              <button class="glyphicon glyphicon-pencil" title="Editar" onclick="location.href='{{path('cliente_add')}}/{{cliente.id_cliente}}'" style="cursor:pointer"></button>
              <button class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Excluir" 
                onclick="if (confirm('Tem certeza que deseja excluir {{cliente.nome}}?')) location.href='{{path('cliente_remove')}}/{{cliente.id_cliente}}';" style="cursor:pointer">
              </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
