{% extends 'layout.html.twig' %}

{% set active = 'homepage' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            Hello
            {% if is_granted('ROLE_USER') %}
                {{ app.security.token.username }}
            {% endif %}
        </h1>
        <!--
        <p>
            {% if is_granted('ROLE_USER') %}
                You are logged-in.
                <a href="{{ path('logout') }}" class="btn btn-primary btn-lg" role="button">{{ 'Logout'|trans }}</a>
            {% else %}
                You're not logged-in. Please <a href="{{ path('login') }}">{{ 'connect'|trans }}</a>
            {% endif %}
        </p>
        -->
{{"
UNISC - Universidade de Santa Cruz do Sul
Departamento de Computação
Disciplina:Redes e Sistemas De Comunicações Móveis
Prof. Charles V. Neu

"|nl2br}}


        {{"<b>Alunos: Diego Cardoso, Gustavo Rossi, Rodrigo Alves
        
        O objetivo desta aula, é propiciar um conhecimento básico sobre como trabalhar com a tecnologia GSM para o envio de mensagens SMS, ligações de voz e armazenamento de mensagens em um servidor Web. Para tal, sigam pelo menos UM roteiros abaixo (cada grupo escolhe um ou ambos). A atividade consiste em criar os respectivos projetos em software para testarmos em hardware na próxima aula. O sistema descrito no tutorial “Como acessar a internet com o Arduino GSM Shield SIM900” vocês devem adaptar de modo que funciona como uma pizzaria que recebe pedidos dos clientes. O fluxo consiste em: 
1) Acessar o tutorial: http://www.arduinoecia.com.br/2015/11/acessar-internet-arduino-gsmshield-sim-900.html
2) Cliente envia um SMS 
3) Sistema armazena a mensagem do SMS (considere que a mensagem será sempre o sabor da PIZZA), gravando o número de origem, data e horário da mensagem no banco de dados. Internamente, no banco de dados, buscar o nome do cliente a partir do número de celular (imagine que todos os clientes só podem pedir pizza depois de estarem cadastrados) 
"|nl2br}}
    </div>
{% endblock %}
