<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controle de Presença</title>

    <link href="/trabredes/resources/others_front/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url('homepage') }}">Controle de Presença</a>
          </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if 'homepage' == active %}class="active"{% endif %}><a href="{{ url('homepage') }}">{{ 'Home' }}</a></li>
            <li {% if 'alunos' == active %}class="active"{% endif %}><a href="{{ url('alunos') }}">Alunos</a></li>
            <li {% if 'disciplinas' == active %}class="active"{% endif %}><a href="{{ url('disciplinas') }}">Disciplinas</a></li>
            <li {% if 'matricula_aluno' == active %}class="active"{% endif %}><a href="{{ url('matricula_aluno') }}">Matrícula Aluno</a></li>
            <li {% if 'registro_presenca' == active %}class="active"{% endif %}><a href="{{ url('registro_presenca') }}">Registro de Presenças</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if is_granted('ROLE_USER') %}
                  <li><a href="{{ path('logout') }}">{{ 'Sair' }}</a></li>
                {% else %}
                  <li><a href="{{ path('login') }}">{{ 'Entrar' }}</a></li>
                  <li><a href="#">{{ 'Register'|trans }}</a></li>
                {% endif %}
              </ul>
            </li>
            -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% for alert in [ 'info', 'success', 'warning', 'danger'] %}
          {% for message in app.session.getFlashBag.get(alert) %}
              <div class="alert alert-{{ alert }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|trans }}
              </div>
          {% endfor %}
      {% endfor %}
      {% block content '' %}

      <footer>
        Trabalho de Redes e Sistemas de Comunicações Móveis - UNISC - 2016.2
      </footer>
    </div>
    <script src="/trabredes/resources/others_front/jquery.min.js"></script>
    <script src="/trabredes/resources/others_front/bootstrap.min.js"></script>
  </body>
</html>
